body {
    text-align: center;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    padding: 0;
    color: #024b47;
    background-color: #c8cfcf;
    font-weight: 400;
}

ion-icon {
    font-size: 50px;
    color: #5f0707
  }

  dialog {
      width: 400px;
      height: 400px;
      
  }

  #game-board {
      width: 800px;
      margin : 0 auto;
    
  }
  canvas {
      float: left;
      padding-left: 20px
  }
  aside
{
    border-width : 0.1em;
    border-color : black;
    width: 220px;
    float: left;
}

#players {
    color: #5f0707
}

img {
  height: 100%;
  
}
.player {
    float: left;
    margin: 0 auto;
    border: 1px solid green;
    width: 100px
}

